* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
 #side {
    display: inline-block;
    top: 0;
    vertical-align: top;
    height: 600px;
    width: 600px;
 }
 table{
     height: 600px;
     width: 600px;
     
 }
div {
    
    margin: 0 auto;

}
#helper
{
    display: none;
}
 div button {
    font-size: 1.5rem;
    height: 50px;
    width: 100%;
    justify-content: center;
    background-color: rgb(28, 80, 37);
    color: black;
}
 div button.nazwa_gry {
    font-family: sans-serif;
    font-size: 3rem;
    height: 100px;
    width: 100%;
    justify-content: center;
}
#wybor, #wynik{
    font-size: 1rem;
    height: 100px;
    font-family: cursive;
}
#X, #O {
    margin: 25px;
    font-size: 2.5rem;
    font-weight: bolder;
    width: 100px;
    
}

#side #xoro {
    display: flex;
    flex-wrap: wrap;
}
tr td {
    font-size: 10rem;
    height: 190px;
    width: 190px;
    color: chartreuse;
    background-color: rgb(33, 32, 43);
    padding: 0;
    position:initial;
    text-align: center;
    margin: 0;
    text-decoration: none;
    border: 3px solid red;
}